
.icon-cog-outline:before { content: '\e800'; } /* '' */
.icon-chart-outline:before { content: '\e801'; } /* '' */
.icon-chart-line:before { content: '\e802'; } /* '' */
.icon-chart-pie-outline:before { content: '\e803'; } /* '' */
.icon-params:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-database:before { content: '\e807'; } /* '' */
.icon-wallet:before { content: '\e808'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
